// colors
$dark-color: #2a2a2a;
$light-color: #cfd8e9;
$primary-light: #6491f1;
$primary-dark: #a772ec;

html[data-theme="light"] {
  --bg-color: #{$light-color};
  --text-color: #{$dark-color};
  --primary-color: #{$primary-light};
  --reverse-color: #fff;
}

html[data-theme="dark"] {
  --bg-color: #{$dark-color};
  --text-color: #{$light-color};
  --primary-color: #{$primary-dark};
  --reverse-color: #000;
}

// radius
$rounded: 0.25rem;

// media screens
$sm: 540px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;