@import "theme.mixin";

// colors
$dark-color: #2a2a2a;
$light-color: #cfd8e9;
$primary-light: #6491f1;
$primary-dark: #a772ec;
$second-light: orangered;
$second-dark: gold;

@include theme(light) {
  --bg-color: #{$light-color};
  --text-color: #{$dark-color};
  --primary-color: #{$primary-light};
  --reverse-color: #fff;
  --second-color: #{$second-light};
}

@include theme(dark) {
  --bg-color: #{$dark-color};
  --text-color: #{$light-color};
  --primary-color: #{$primary-dark};
  --reverse-color: #000;
  --second-color: #{$second-dark};
}

// spacing
$m-elem: 3rem;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1.25rem;
$space-5: 1.75rem;
$space-6: 2.35rem;
$space-7: 3rem;

// font sizes
$fs-sm: 0.8rem;
$fs-base: 1rem;
$fs-md: 1.25rem;
$fs-lg: 1.75rem;
$fs-xl: 2.25rem;
$fs-2xl: 3rem;
$fs-3xl: 4rem;

// radius
$rounded: 0.25rem;
$rounded-md: 0.5rem;
$rounded-lg: 1rem;
$rounded-xl: 1.75rem;
$rounded-2xl: 2.5rem;
$rounded-3xl: 3.5rem;
$rounded-full: 100rem;

// media screens
$sm: 540px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// brightness
$br-light: 1.075;
$br-dark: 1.25;