@import "default";
@import "theme.mixin";
@import "media.mixin";

// header
header {
  display: flex;
  align-items: center;
  padding-top: 0.5rem !important;

  @include media(md) {
    padding-top: 1rem !important;
  }

  nav {
    height: 3rem;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    @include media(md) {
      display: flex;
    }

    ul {
      height: 100%;
      display: inherit;
      justify-content: center;
      align-items: inherit;

      li {
        height: 100%;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
      }
    }
  }
}

.header__socials a {
  margin-right: 0.75rem;
}

.header__links a:not(.btn-primary) {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;

  @include media(xl) {
    margin-left: 1.5rem;
  }
}

.header__mobile-menu-btn {
  background-color: var(--bg-color);
  stroke: var(--text-color);
  cursor: pointer;
  margin-left: 0 !important;

  &:active {
    filter: brightness($br-dark);
  }

  // @include header__circle-btn();

  @include media(md) {
    display: none;
  }
}

.header__contact-me {
  height: 100%;
  margin: 0 auto 0 0.5rem;

  @include media(md) {
    display: none;
  }
}

// hero section
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 3rem;

  @include media(md) {
    justify-content: space-between;
    flex-direction: row;
  }

  @include max-media(md) {
    padding: 0;
  }
}

.hero-section__right,
.hero-section__left {
  width: 100%;
  height: max-content;
  display: inherit;
  flex-direction: column;
  justify-content: inherit;

  @include media(md) {
    width: max-content;
  }
}

.hero-section__left {
  background-color: var(--bg-color);
  align-items: flex-start;
  padding: 2rem 1rem;

  @include media(sm) {
    padding: 2rem 1.5rem;
  }

  @include media(md) {
    filter: unset !important;
    padding: 0;
  }

  h1 {
    text-align: left;
    font-size: $fs-lg;

    @include media(sm) {
      font-size: $fs-xl;
    }

    @include media(lg) {
      font-size: $fs-2xl;
    }

    @include media(xl) {
      font-size: $fs-3xl;
    }
  }

  p {
    font-size: $fs-sm;
    letter-spacing: 0.125rem;
    margin-top: 0.65rem;

    @include media(sm) {
      font-size: $fs-base;
      margin-top: 0.5rem;
    }

    @include media(lg) {
      font-size: $fs-md;
    }

    span {
      color: var(--second-color);
    }
  }
}

@include theme(light) {
  .hero-section__left {
    filter: brightness($br-light);
  }
}

@include theme(dark) {
  .hero-section__left {
    filter: brightness($br-dark);
  }
}

.hero-section__right {
  align-items: center;

  @include media(md) {
    align-items: flex-end;
  }
}

.hero-section__img {
  width: 20rem;

  @include media(lg) {
    width: 22rem;
  }

  @include media(lg) {
    width: 30rem;
  }
}

@include theme(light) {
  .hero-section__img {
    filter: brightness(0.9);
  }
}

.hero-section__connections {
  display: inherit;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;

  @include media(md) {
    align-items: flex-start;
    flex-direction: inherit;
  }

  @include media(lg) {
    margin-top: 1.25rem;
  }
}

.hero-section__phone,
.hero-section__email {
  background-color: var(--bg-color);
  display: inherit;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: $rounded;

  svg {
    stroke: var(--primary-color);
    margin-right: 0.65rem;
  }

  span {
    color: var(--primary-color);
    font-size: $fs-base;
  }
}

@include theme(light) {

  .hero-section__phone,
  .hero-section__email {
    filter: brightness($br-light);
  }
}

@include theme(dark) {

  .hero-section__phone,
  .hero-section__email {
    filter: brightness($br-dark);
  }
}

// about
.about {
  background-color: var(--reverse-color);
  padding: 2rem 0;

  a {
    display: inline-block;
    margin-top: 0.5rem;
  }
}

// projects
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project__box {
  background-color: var(--reverse-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: $rounded-lg;

  img {
    background-color: var(--bg-color);
    filter: brightness($br-light);
    width: 100%;
    height: 350px;
    border-radius: inherit;
    object-fit: cover;
    object-position: bottom;
  }

  span {
    width: 100%;
    display: block;
    margin: 1rem 0;
    font-weight: bold;
    font-size: $fs-md;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    li:first-child {
      margin-right: 0.5rem;
    }

    li:last-child {
      margin-left: auto;
    }
  }

  @include media(sm) {
    width: calc(50% - 0.5rem);
  }

  @include media(xl) {
    width: calc(33.3333% - 0.6667rem);
  }
}

// Skills
.in-use,
.learning {
  display: flex;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill-box {
  background-color: var(--reverse-color);
  padding: 0.5rem 1rem;
  border-radius: $rounded-full;
}

@include theme(light) {
  .skill-box span {
    filter: brightness(0.9);
  }
}

// Contact me
.contact {
  background: linear-gradient(45deg, var(--reverse-color), var(--bg-color));
  width: 100%;
  padding: 3rem 0;
  position: relative;

  .effect {
    background: linear-gradient(45deg, var(--bg-color), var(--reverse-color));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 250ms linear;
  }

  &:hover .effect {
    opacity: 1;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .title {
    margin-bottom: 3rem;
  }

  label {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  input,
  textarea {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: $rounded;

    &:focus {
      border-color: var(--primary-color);
    }

    &:first-of-type:not(textarea) {
      width: 33.3333%;
    }

    &:last-of-type:not(textarea) {
      width: 66.6666%;
    }

    @include max-media(md) {
      width: 100% !important;
    }
  }

  textarea {
    height: 13rem;
    width: 100%;
    resize: vertical;
  }

  button {
    width: 100%;

    @include media(md) {
      width: max-content;
    }
  }
}

// Footer
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;

  p {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    svg {
      margin: 0 0.35rem;
    }
  }
}