@import "default";
@import "media.mixin";

header {
  display: flex;
  align-items: center;
  padding-top: 1rem !important;

  nav {
    height: 3rem;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    @include media(md) {
      display: flex;
    }

    ul {
      height: 100%;
      display: inherit;
      justify-content: center;
      align-items: inherit;

      li {
        height: 100%;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
      }
    }
  }
}

@mixin header__circle-btn() {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 1rem;

  @include media(xl) {
    margin-left: 2rem;
  }
}

.socials a {
  background-color: var(--bg-color);

  html[data-theme="light"] &:hover {
    filter: brightness(0.9);
  }

  html[data-theme="dark"] &:hover {
    filter: brightness(0.8);
  }

  svg {
    stroke: var(--text-color);
    width: 1.5rem;
    height: 1.5rem;
  }

  @include header__circle-btn()
}

.links {
  a {
    height: 100%;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    padding: 0 1rem;

    @include media(xl) {
      margin-left: 1.5rem;
    }
  }

  .btn-reverse {
    margin-right: 1rem;
    border-radius: $rounded;

    &:hover {
      filter: none;
    }
  }
}

.theme-btn {
  background-color: var(--reverse-color);
  color: var(--text-color);
  cursor: pointer;

  @include header__circle-btn()
}