@import "default";
@import "theme.mixin";
@import "media.mixin";

// header
header {
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  position: sticky;
  top: 0;
  z-index: 999;

  @include media(md) {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  nav {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    @include media(md) {
      display: flex;
    }

    ul {
      height: 100%;
      display: inherit;
      justify-content: center;
      align-items: inherit;

      li {
        height: 100%;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
      }
    }
  }
}

.header__socials a {
  margin-right: 0.75rem;
}

.header__links a:not(.btn-primary) {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;

  @include media(xl) {
    margin-left: 1.5rem;
  }
}

.header__mobile-menu-btn {
  padding-left: 0;
  padding-right: 0;
  position: relative;

  &:hover {
    background-color: transparent;
  }

  @include media(md) {
    display: none;
  }

  svg:last-of-type {
    display: none;
  }

  ul {
    background-color: var(--reverse-color);
    width: 50vw;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transform-origin: top left;
    position: absolute;
    top: 3.5rem;
    left: 0;
    padding: 0.5rem;
    border-radius: $rounded;

    li {
      width: 100%;
      padding: 0.5rem 0;
    }
  }
}

.header__mobile-menu-btn.active-menu {
  ul {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  svg:first-of-type {
    display: none;
  }

  svg:last-of-type {
    display: inline-block;
  }
}

.header__contact-me {
  margin: 0 auto 0 0.5rem;

  @include media(md) {
    display: none;
  }
}

// hero section
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 3rem;

  @include media(md) {
    justify-content: space-between;
    flex-direction: row;
  }

  @include max-media(md) {
    padding: 0;
  }
}

.hero-section__right,
.hero-section__left {
  width: 100%;
  height: max-content;
  display: inherit;
  flex-direction: column;
  justify-content: inherit;

  @include media(md) {
    width: max-content;
  }
}

.hero-section__left {
  background-color: var(--bg-color);
  align-items: flex-start;
  padding: 2rem 1rem;

  @include media(sm) {
    padding: 2rem 1.5rem;
  }

  @include media(md) {
    filter: unset !important;
    padding: 0;
  }

  h1 {
    text-align: left;
    font-size: $fs-lg;

    @include media(sm) {
      font-size: $fs-xl;
    }

    @include media(lg) {
      font-size: $fs-2xl;
    }

    @include media(xl) {
      font-size: $fs-3xl;
    }
  }

  p {
    font-size: $fs-sm;
    letter-spacing: 0.125rem;
    margin-top: 0.65rem;

    @include media(sm) {
      font-size: $fs-base;
      margin-top: 0.5rem;
    }

    @include media(lg) {
      font-size: $fs-md;
    }

    a {
      color: var(--second-color);
    }
  }
}

@include theme(light) {
  .hero-section__left {
    filter: brightness($br-light);
  }
}

@include theme(dark) {
  .hero-section__left {
    filter: brightness($br-dark);
  }
}

.hero-section__right {
  align-items: center;

  @include media(md) {
    align-items: flex-end;
  }
}

.hero-section__img {
  width: 20rem;

  @include media(lg) {
    width: 22rem;
  }

  @include media(lg) {
    width: 30rem;
  }
}

@include theme(light) {
  .hero-section__img {
    filter: brightness(0.9);
  }
}

.hero-section__connections {
  display: inherit;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;

  @include media(md) {
    align-items: flex-start;
    flex-direction: inherit;
  }

  @include media(lg) {
    margin-top: 1.25rem;
  }
}

.hero-section__phone,
.hero-section__email {
  background-color: var(--bg-color);
  display: inherit;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: $rounded;

  svg {
    stroke: var(--primary-color);
    margin-right: 0.65rem;
  }

  span {
    color: var(--primary-color);
    font-size: $fs-base;
    user-select: text;
  }
}

@include theme(light) {

  .hero-section__phone,
  .hero-section__email {
    filter: brightness($br-light);
  }
}

@include theme(dark) {

  .hero-section__phone,
  .hero-section__email {
    filter: brightness($br-dark);
  }
}

.about {
  background-color: var(--reverse-color);
  padding: 2rem 0;

  a {
    text-decoration: underline;
    display: inline-block;
    margin-top: 0.75rem;
  }
}

// projects
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project__box {
  background-color: var(--reverse-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: $rounded-lg;

  img {
    cursor: url('/public/images/emoji.svg'), auto;
    background-color: var(--bg-color);
    filter: brightness($br-light);
    width: 100%;
    height: 350px;
    border-radius: inherit;
    object-fit: cover;
    object-position: bottom;
  }

  span {
    width: 100%;
    display: block;
    margin: 1rem 0;
    font-weight: bold;
    font-size: $fs-md;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    li:first-child {
      margin-right: 0.5rem;
    }

    li:last-child {
      margin-left: auto;
    }
  }

  @include media(sm) {
    width: calc(50% - 0.5rem);
  }

  @include media(xl) {
    width: calc(33.3333% - 0.6667rem);
  }
}

// Skills
.in-use,
.learning {
  display: flex;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill-box {
  background-color: var(--reverse-color);
  padding: 0.5rem 1rem;
  border-radius: $rounded-full;
}

@include theme(light) {
  .skill-box span {
    filter: brightness(0.9);
  }
}

// Contact me
.contact {
  background: linear-gradient(to bottom, var(--reverse-color), var(--bg-color) 90%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: $rounded-lg;
  position: relative;

  @include media(md) {
    width: 50%;
  }

  label {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    border-radius: $rounded;

    &:focus {
      border-color: var(--primary-color);
    }
  }

  textarea {
    height: 10rem;
    resize: vertical;
  }

  button {
    width: 100%;

    @include media(md) {
      width: max-content;
    }

    svg {
      rotate: 45deg;
    }
  }
}

.accordions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(md) {
    width: 50%;
  }

  .accordions__item {
    background-color: var(--primary-color);
    color: var(--reverse-color);
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: $rounded;
    overflow: hidden;
    cursor: pointer;

    &:first-child {
      border-radius: $rounded-lg $rounded-lg $rounded $rounded;
    }

    &:last-child {
      margin-bottom: 0;
      border-radius: $rounded $rounded $rounded-lg $rounded-lg;
    }

    span {
      display: block;
      font-weight: bold;
      letter-spacing: 0.05rem;
      padding: 1rem;
    }

    p {
      display: none;
      width: 100%;
      padding: 0.5rem 1rem 1.5rem;
      cursor: text;

      &.active {
        display: block;
      }
    }
  }
}

// Footer
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;

  @include media(md) {
    margin-top: 1.5rem;
  }

  p {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    svg {
      margin: 0 0.35rem;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;

    @include media(md) {
      display: none;
    }
  }
}

// Modal
.modal {
  backdrop-filter: blur(50px);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  cursor: zoom-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .text {
    background-color: var(--reverse-color);
    color: var(--text-color);
    width: max-content;
    max-width: 100%;
    max-height: 100%;
    padding: 2rem;
    border-radius: $rounded-lg;
    overflow-y: auto;
    cursor: auto;

    @include media(md) {
      max-width: 75%;
    }
  }
}