@import "default";
@import "media.mixin";

// CSS reset & Default design
* {
  background: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 150ms linear;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  user-select: none;
  scroll-behavior: smooth;
  transition: 150ms linear;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

i,
svg {
  user-select: none;
}

svg {
  width: 1.25rem;
  height: 1.25rem;
}

a {
  color: var(--primary-color);
}

@include theme(light) {
  a:hover {
    filter: brightness($br-light);
  }
}

@include theme(dark) {
  a:hover {
    filter: brightness($br-dark);
  }
}

p {
  user-select: text;
}

.wrapper {
  width: 100%;
  padding: 0 1rem;

  @include media(sm) {
    padding: 0 1.5rem;
  }

  @include media(md) {
    padding: 0 2rem;
  }

  @include media(lg) {
    padding: 0 3rem;
  }
}

.mt-elem {
  margin-top: $m-elem;
}

.mb-elem {
  margin-bottom: $m-elem;
}

.title {
  font-size: $fs-lg;
  margin-bottom: 0.75rem;
}

.text {
  line-height: 1.5rem;
  opacity: 0.75;
}

.hover-br {
  cursor: pointer;
}

@include theme(light) {
  .hover-br:hover {
    filter: brightness($br-light);
  }
}

@include theme(dark) {
  .hover-br:hover {
    filter: brightness($br-dark);
  }
}

.btn {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.65rem;
  padding: 0 1.25rem;
  border-radius: $rounded;
  cursor: pointer;
}

.btn-reverse {
  background-color: var(--primary-color);
  color: var(--reverse-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--reverse-color);
  stroke: var(--reverse-color);
}

.btn-ghust {
  color: var(--primary-color);
  stroke: var(--primary-color);

  &:hover {
    background-color: var(--bg-color);
  }

  @extend .hover-br;
}