@import "_default.scss";

// Light/Dark mode
html[data-theme="light"] {
  --bg-color: #{$light-color};
  --text-color: #{$dark-color};
}

html[data-theme="dark"] {
  --bg-color: #{$dark-color};
  --text-color: #{$light-color};
}

// CSS reset & Default design
* {
  background: none;
  text-decoration-color: $primary-color;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 150ms linear;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 16px;
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

i,
svg {
  user-select: none;
}

svg {
  width: 16px;
  height: 16px;
}

a {
  color: $primary-color;

  &:hover {
    filter: brightness(0.75);
  }
}

.container {
  width: 100%;
  padding: 0 1.5rem;
}