@import "default";
@import "media.mixin";

// CSS reset & Default design
* {
  background: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 150ms linear;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

i,
svg {
  user-select: none;
}

svg {
  width: 1.25rem;
  height: 1.25rem;
}

a {
  color: var(--primary-color);

  &:hover {
    filter: brightness(0.85);
  }
}

.wrapper {
  width: 100%;
  padding: 0 1rem;
  
  @include media(sm) {
    padding: 0 2rem;
  }

  @include media(lg) {
    padding: 0 3rem;
  }
}

.btn-reverse {
  background-color: var(--reverse-color);
  color: var(--text-color);
}